.header-box{
  position: relative;
  background-color: #734cf3;
  border-bottom: 3px solid grey;
}

.header-grid{
  display: grid;
  height: 64px;
  justify-items: left;
  grid-template-columns:8fr 350px;
  align-items: center;
  padding-inline: 1rem;
}

.header-logo{
  display: flex;
  justify-content: center;
  color: white;
}
.header-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}